body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, hsl(0, 0%, 0%), hsla(168, 40%, 19%, 0.918));
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .login-container h2 {
    color: #333;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .login-container label {
    margin-bottom: 8px;
    color: #555;
  }
  
  .login-container input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 278px;
  }
  
  .login-container button {
    background-color: #183D3D;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  #message {
    margin-top: 10px;
  }
  
  .login-container button:hover {
    background-color: #178569;
  }